*{
    font-family: 'Rubik', sans-serif;
    margin:0rem;
    padding:0rem;
    box-sizing: border-box;
     
  }
  
  header, main, footer{
    max-width:640%;
    padding:0.5rem;
    margin: 4cqb;
    background-color: #2d545e; /*night Blue #2d545e, Night Blue Shadow: #12343b*/
    gap: 2rem;
  }
  main{
    background-color:#e1b382;   /*thicker color of gold(tan) #c89666 , lighter color of gold(sand tan) #e1b382*/
    border: solid#2d545e;
       
  }

.firstDiv{
    display: flex;
    border: solid#2d545e;
    padding: 2rem;
  }
  
.secondDiv section{
    border: solid#2d545e;
    margin-top: 1rem;
}

h1, h4{
    color: rgb(221, 218, 218);
}

a{
    color: #e9cdaf;
}