body{
    font-family: Roboto;
    }
  
  header,main, footer {
    max-width: 640%;
    box-align: center;
    margin: 1rem auto;
    background-color: powderblue;
    padding: 0.5rem;
    
  }
  
  main{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    
  }
  
  section {
    padding: 1rem ;
    background-color: white;
  }


