@media screen and (min-width: 500px){
    header{    
      color: #1a2e05;
      display: block;
      align-items: center;    
     
      
    }
    /* header img{
        box-shadow: rgb(20, 9, 9) 0.5px 2px 8px; */

   
    #first-header {
         padding: 2rem;
    }
    #first-header h2{
      font-size: 15pt;
    }

   
    #h1text{
        text-align: center;
    }              
        
 
  
    .menu{
      display: none;
      
    }
    .menu-inside{
      display: flex;
      
      
      
    }
    .menu-inside li { 
      display: block;
      flex:100%;    
         
      
    }


    .menu-inside li a { 
        display: block;
        padding: 1rem;
        
           
    
      }



    
    .sevices1{
      display: flex;
    }
      
    .sevices1 section{
        box-shadow: rgb(20, 9, 9) 0.5px 2px 8px;
    }

  .eventflex section{
        padding: 2px;
        gap: 2rem;
      }
      
        
  #events img{  
          padding-top: 2rem;
          display: block;
          width: 100%;
        }

  .eventflex{
          display: flex;
  }

  footer{
    padding: 2rem;
  }

  /* discovery page css update */

  .major-grid{
    display: grid;
    grid-template-columns: 40% 60%;
    max-width: 80%;
    margin-left: 10%;

  }


  .sidebar section img{
    width: 100%;
    height: auto;
   

  }

  .sidebar section p{
    font-size: 20pt;
  }





  /* rounded corners - boxmodel */
  .photo-galary section img:hover {border-radius: 15px 150px;}

  .major-grid section img:hover{opacity: .5;}




}