*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    
  }

body{
    font-family: 'Roboto Slab', serif;
  /* color: #042245; */
 
}

/*Mobile views*/

header, main, footer{
    max-width: 640%;     
    padding: 0.5rem;
}

/* nav{
    background-color: #D8D88F;

} */
/* nav a {
    display: grid;
    justify-content:center;
    padding: 1rem;
    text-decoration: none;
  color:#364511;
  } */
/* 

nav #active{
    background-color: rgba(255, 255,200, 0.5);
  color: #b36e15;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.5);
} */

header, footer{  
    
    background-color: #8DA242;
    padding: 1rem;
       
}


.profileparent img{
    align-self: center;
    border-radius:100px;
    
    display: block;
  margin-left: auto;
  margin-right: auto; 


}
.profileparent p{
    font-size: 25px;
    text-align: center;
    font-style: oblique;
    padding-bottom: 1rem;
}



main h1{
    font-size: 110%;
    
    text-align: center;
    text-decoration: underline;
    padding: 1rem;
    
}

.card h2{
        background-color: #8DA242;

    text-align: center;
    padding: 1rem;
}



.card{
    color: #042245;  
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 1rem;
    border-radius: 5px;
    overflow: hidden;

}
.card ul{
  margin: 1rem;
  
}

.card ul li  {
    
    color: #042245;
    font-size: 15pt;
    margin: 3%;
   
}
.card ul li a{
    text-decoration: none;
    color: #58290a;
    font-size: 15pt;
}






/* header{
    display: flex;
     */


header span{
    font-size: 18pt;    
    
  vertical-align:middle; /*this will make the span respond to moving up or down */
 padding-bottom: 5rem;
  font-family: 'Lemon', serif;
}

footer p{
  display: block;
  text-align: center;
  font-size: 120%;

  
}

.footerFirstP {
    font-size: 18pt;
    
}

.footerFirstP {
    font-size: 15pt;
    
}
#lastModified{
    font-size: small;
    margin-top: 0.5rem;
    color: #1a2e05;
        /* text-shadow: rgb(20, 9, 9) 0.5px 2px 8px; */
    text-shadow: rgb(255, 255, 255) 0.5px 2px 8px;
      

}

/*Responsive Ambuger menue*/

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 1rem;
	left: 1rem;
	
}

#menu::before {
	content: "☰";
    color: #8DA242;
}

#menu.open::before {
	content: "✖";
}

.myNav {
	
    /* flex-direction: row; */
   
	list-style: none;
	background-color: #333;
	color: #fff;
}
.myNav li {
	display: none;
}
.myNav li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.myNav li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */


.open.myNav li {
	display: block;
	width: 100%;
}
.open.myNav li a {
	display: block;
}

#active::before {
	content: "📍 ";
}


/* making a dark mode */

.firstnav{
    position: relative;
}



#darktheme{
    position: absolute ;
   	top: 0.1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;	
    background: transparent;  
    border: none; 

}
#hero{
    margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
   
	

}
#hero img{
    width: 100%;
	height: 100%;
	object-fit: cover;
}

#labelforhero{
        position: absolute;
        top: 30px;
        left: 30px;
        background: radial-gradient(#fff, #4D5B97);
        border: 1px solid rgba(0,0,0,.75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
        border-radius: 1.2rem;
        /* Buenas */
 }

 .labelforhero p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Great Vibes", serif;
}


.mapcard{
    overflow:hidden;

    /* padding-bottom:25%;  */

    position:relative;
    height: 300px;

   
}
.mapcard h2{
    text-align: center;  
    padding: 0.5rem;
    background-color: #093b22;
    color: #8DA242;
    
}


.mapcard iframe{
    padding-top: 3rem;

    left:0;

    top:0;

    height: 100%;

    width:100%;

    position:absolute;

}

.cards{
    display: grid;  
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    

}


.card h4{
    padding-top: 20px;
    grid-column: span 2;    
    grid-row: span 1;

    font-size: 16pt;
    margin-left: auto;
    margin-right: auto;
    color: #525251;
    
}


.card img{
    grid-column: span 1;    
    grid-row: span 3;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
      
}

.cards h5{
    font-size: 20pt;
    align-items: center;
    color: #525251;
       
}


.card span{
    color: #093b22;   
}
  
#visi{
    text-align: center;
    grid-column: span 2; 
    font-size: 16pt; 
    padding-bottom: 20px;


}

/* .card p{
    padding: 1rem;
    text-align: center;
} */



 