@media screen and (min-width: 500px){
    
    
    .profileparent{
      display: flex;
     
    }
    .profileparent img{
    
      margin-left: 30%;
    }

    .profileparent h2{
     
      align-items:center    

   
    padding-right: 60%;
     
    }


  
    #menu{
      display: none;
      
    }
    .myNav{
      display: flex;
    }
    .myNav li { 
      display: block;
      flex: 1 1 100%
    }

    
    #parent{
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
      
    .card{
        box-shadow: rgb(20, 9, 9) 0.5px 2px 8px;
    }
    
        
    
    main h1{
        
        text-align: left;
        font-size: 160%;
    }

    footer p{
        display: block;
        text-align: center;
        font-size: 120%;
      }
    .footerFirstP {
        font-size: 15pt;
    }


    #lastModified{
        font-size: small;
        margin-top: 0.5rem;
        color: #1a2e05;
        text-shadow: rgb(252, 240, 240) 0.5px 2px 8px;

        
    }

    .background{
      display: none;
      color: white;
   
  }

  #mapcard{
    height: 500px;
  }
  
    
}
  
